@page
@model PrivacyModel
@{
    ViewData["Title"] = "使用規則";
}
<h1>@ViewData["Title"]</h1>

<div class="container ">
    <div class="col-10">
        <p>議室管理規則</p>
        <p>一、借用會議室室需遵守下列各項規定。</p>
        <p>〈一〉、本會議室室配合環保署規定，自 96 年 7 月 1 日起全面禁用紙杯。</p>
        <p>〈二〉、本會議室室之場地佈置、接待、記錄、錄音(影)等事項，由借用單位負責。</p>
        <p>〈三〉、本會議室室之茶水由借用單位負責</p>
        <p>〈四〉、爲倡導環保，使用本會議廳（室）不提供紙杯，如另有需要，由借用單位自備。</p>
        <p>〈五〉、本會議室之飲食由借用單位負責，事務組不提供代訂、代購。</p>
        <p>〈六〉、本會議室內之任何物品請小心使用，使用後應歸位，並不得攜出。</p>
        <p>〈七〉、本會議廳室禁止吸煙。</p>
        <p>〈八〉、借用單位應維持會議室桌椅之整潔，會後將桌面擦拭乾淨，清潔會場並將垃圾攜出至資源回收桶加以分類。</p>
        <p>〈九〉、於本會議室內飲食，應將廚餘、便當盒等垃圾分類後送至資源回收處。</p>
        <p>〈十〉、未經許可，不得擅接改變電源線路或擅用電器設備，以免發生危險或損壞場地。</p>
        <p>〈十一〉、使用本會議廳（室）應愛惜公物設備、牆壁、天花板等不得任意釘掛，如有損壞須照價賠償或修護。</p>
        <p>〈十二〉、未經同意不得於牆壁、門窗、白板上張貼海報等文宣品。</p>
        <p>〈十三〉、借用本會議廳（室）佈置物品器材，使用完畢應自行拆收(除)運離現場並負責清潔場地。</p>
        <p>〈十四〉、使用視聽設備應按照說明使用，離去時應通知管理人員並將門窗電源關閉上鎖。</p>
        <p>〈十五〉、各項設備如因不當使用損壞，借用單位應負賠償修理之費用；若於使用前即已產生瑕疵或損壞者，借用單位應即告知處理，若因疏於告知而繼續使用致損害發生或擴大者，仍由借用單位負責賠償。</p>
        <p>〈十六〉、本會議廳（室）使用時間不可超過下午 5 時(含清理時間)。</p>
        <p>〈十七〉、使用本會議廳（室）舉辦活動時，如遇發生空襲、震災、火災等意外事件，由借用單位負責指導該集會活動人員疏散，採取安全避難措施。</p>
        <p>〈十八〉、使用本會議廳（室），借用單位應負維護秩序、清潔、安全之責。</p>
        <p>〈十九〉、凡不遵守上述規定者，該單位爾後不得再借用。</p>
        --------
        進房時間：當日下午16:30以後
        ■ 如超過18:00以後入住，請於訂房時備註，逾時恕不保留客房亦不退費
        ■ 入住30分鐘前，請事先電話連絡，避免旅客需要在外等侯
        ■ 退房時間：翌日上午10:00以前
        ■ 退房時，務必請交還房門鑰匙；離開房間時，請先關冷氣、電源
        ■ 若因行程可能延誤，無法在規定時間內辦理入住手續，請務必事先與入住民宿電話確認
        ■ 入住時請出示身分證件，以供登記，並請繳清餘額
        ■ 當天請依約定人數入住，人數或房間數量若有增減請務必事先告知
        ■ 續住的房客，民宿不主動提供更換毛巾或浴巾，如需更換請主動告知
        ■ 無提供早餐，以將優惠回饋至房價
        ■ 請勿攜帶寵物，不便處請見諒
        ■ 本民宿適用菸害防制法，室內（包含公共空間與房間）禁止吸煙
        ■ 為維護住宿品質，請勿嚼食檳榔及飲酒狂歡
        ■ 屋內嚴禁轟趴、吸毒、酗酒、聚賭等違法性行為，若經發現一律報警處理
        ■ 請勿在房內使用瓦斯爐或電磁爐等危險物品，並請隨手關燈及節約用水
        ■ 晚上十點後請保持輕聲細語，相互尊重住宿空間上的安寧
        ■ 個人貴重物品請自行妥善保管、如有遺失恕不負責，敬請見諒
        ■ 請勿破壞屋內物品，退房時若經發現損壞或遺失，需照價賠償
        ■ 請把民宿當成您自己的家一樣愛護，並期盼您常回來看我們
        ■ 若有服務不周之處請告訴我們， 謝謝您的合作，祝旅途平安順心

    </div>
</div>