@page
@model PrivacyModel
@{
    ViewData["Title"] = "使用規則";
}
<h1>@ViewData["Title"]</h1>

<div class="container ">
    <div class="col-10">
        <p>議室管理規則</p>
        <p>一、借用會議室室需遵守下列各項規定。</p>
        <p>〈一〉、本會議室室配合環保署規定，自 96 年 7 月 1 日起全面禁用紙杯。</p>
        <p>〈二〉、本會議室室之場地佈置、接待、記錄、錄音(影)等事項，由借用單位負責。</p>
        <p>〈三〉、本會議室室之茶水由借用單位負責</p>
        <p>〈四〉、爲倡導環保，使用本會議廳（室）不提供紙杯，如另有需要，由借用單位自備。</p>
        <p>〈五〉、本會議室之飲食由借用單位負責，事務組不提供代訂、代購。</p>
        <p>〈六〉、本會議室內之任何物品請小心使用，使用後應歸位，並不得攜出。</p>
        <p>〈七〉、本會議廳室禁止吸煙。</p>
        <p>〈八〉、借用單位應維持會議室桌椅之整潔，會後將桌面擦拭乾淨，清潔會場並將垃圾攜出至資源回收桶加以分類。</p>
        <p>〈九〉、於本會議室內飲食，應將廚餘、便當盒等垃圾分類後送至資源回收處。</p>
        <p>〈十〉、未經許可，不得擅接改變電源線路或擅用電器設備，以免發生危險或損壞場地。</p>
        <p>〈十一〉、使用本會議廳（室）應愛惜公物設備、牆壁、天花板等不得任意釘掛，如有損壞須照價賠償或修護。</p>
        <p>〈十二〉、未經同意不得於牆壁、門窗、白板上張貼海報等文宣品。</p>
        <p>〈十三〉、借用本會議廳（室）佈置物品器材，使用完畢應自行拆收(除)運離現場並負責清潔場地。</p>
        <p>〈十四〉、使用視聽設備應按照說明使用，離去時應通知管理人員並將門窗電源關閉上鎖。</p>
        <p>〈十五〉、各項設備如因不當使用損壞，借用單位應負賠償修理之費用；若於使用前即已產生瑕疵或損壞者，借用單位應即告知處理，若因疏於告知而繼續使用致損害發生或擴大者，仍由借用單位負責賠償。</p>
        <p>〈十六〉、本會議廳（室）使用時間不可超過下午 5 時(含清理時間)。</p>
        <p>〈十七〉、使用本會議廳（室）舉辦活動時，如遇發生空襲、震災、火災等意外事件，由借用單位負責指導該集會活動人員疏散，採取安全避難措施。</p>
        <p>〈十八〉、使用本會議廳（室），借用單位應負維護秩序、清潔、安全之責。</p>
        <p>〈十九〉、凡不遵守上述規定者，該單位爾後不得再借用。</p>

    </div>
</div>