@page
@model PrivacyModel
@{
    ViewData["Title"] = "使用規則";
}
<h1>@ViewData["Title"]</h1>

<div class="container ">
    <div class="col-10">
        <p>住宿需知</p>
        <p>進房時間：當日下午16:30以後</p>
        <p>〈一〉、如超過18:00以後入住，請於訂房時備註，逾時恕不保留客房亦不退費。</p>
        <p>〈二〉、入住30分鐘前，請事先電話連絡，避免旅客需要在外等侯。</p>
        <p>〈三〉、退房時間：翌日上午10:00以前</p>
        <p>〈四〉、退房時，務必請交還房門鑰匙；離開房間時，請先關冷氣、電源。</p>
        <p>〈五〉、若因行程可能延誤，無法在規定時間內辦理入住手續，請務必事先與入住民宿電話確認。</p>
        <p>〈六〉、入住時請出示身分證件，以供登記，並請繳清餘額。</p>
        <p>〈七〉、當天請依約定人數入住，人數或房間數量若有增減請務必事先告知。</p>
        <p>〈八〉、續住的房客，民宿不主動提供更換毛巾或浴巾，如需更換請主動告知。</p>
        <p>〈九〉、無提供早餐，以將優惠回饋至房價。</p>
        <p>〈十〉、未經許可，不得擅接改變電源線路或擅用電器設備，以免發生危險或損壞場地。</p>
        <p>〈十一〉、請勿攜帶寵物，不便處請見諒。</p>
        <p>〈十二〉、本民宿適用菸害防制法，室內（包含公共空間與房間）禁止吸煙。</p>
        <p>〈十三〉、為維護住宿品質，請勿嚼食檳榔及飲酒狂歡。</p>
        <p>〈十四〉、屋內嚴禁轟趴、吸毒、酗酒、聚賭等違法性行為，若經發現一律報警處理。</p>
        <p>〈十五〉、請勿在房內使用瓦斯爐或電磁爐等危險物品，並請隨手關燈及節約用水。</p>
        <p>〈十六〉、晚上十點後請保持輕聲細語，相互尊重住宿空間上的安寧。</p>
        <p>〈十七〉、請把民宿當成您自己的家一樣愛護，並期盼您常回來看我們。</p>
        <p>〈十八〉、請勿破壞屋內物品，退房時若經發現損壞或遺失，需照價賠償。</p>
        <p>〈十九〉、若有服務不周之處請告訴我們， 謝謝您的合作，祝旅途平安順心。</p>
      

    </div>
</div>